[submodule "src-crawler-plugins"]
	path = src-crawler-plugins
	url = https://github.com/kabegame/crawler-plugins.git
[submodule "packages/photoswipe-vue"]
	path = packages/photoswipe-vue
	url = git@github.com:cmtheit/PhotoSwipe-vue.git
	branch = master
[submodule "third/FFmpeg"]
	path = third/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "src-plasma-wallpaper-plugin"]
	path = src-plasma-wallpaper-plugin
	url = git@github.com:kabegame/plasma-wallpaper-plugin2.git
[submodule "packages/kabegame-plugin-sdk"]
	path = packages/kabegame-plugin-sdk
	url = https://github.com/kabegame/kabegame-plugin-sdk.git
[submodule "packages/kabegame-types"]
	path = packages/kabegame-types
	url = https://github.com/kabegame/kabegame-types.git
[submodule "third/x264"]
	path = third/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "third/cef-rs"]
	path = third/cef-rs
	url = https://github.com/tauri-apps/cef-rs.git
	branch = 149-wrapper-path
[submodule "third/cef"]
	path = third/cef
	url = https://github.com/chromiumembedded/cef.git
	branch = 7827
[submodule "third/rsmpeg"]
	path = third/rsmpeg
	url = https://github.com/larksuite/rsmpeg.git
[submodule "third/rusty_ffmpeg"]
	path = third/rusty_ffmpeg
	url = https://github.com/CCExtractor/rusty_ffmpeg.git
[submodule "third/tauri"]
	path = third/tauri
	url = https://github.com/tauri-apps/tauri.git
[submodule "third/deno"]
	path = third/deno
	url = https://github.com/denoland/deno.git
	shallow = true
[submodule "third/rusty_v8"]
	path = third/rusty_v8
	url = https://github.com/denoland/rusty_v8.git
	shallow = true
	ignore = dirty
