# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-*
!dist-main/.gitkeep
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# app main 的 tauri config 是动态生成的
# src-tauri/*/tauri.conf.json

# Tauri
target
src-tauri/app-main/resources/plugins/*.kgpg
src-tauri/*/gen/schemas/*
src-tauri/app-main/resources/bin/*

# Tauri generated icons (keep only icon.png and README.md)
src-tauri/icons/*
!src-tauri/icons/icon.png
!src-tauri/icons/README.md

# development data
/data

# Nx
.nx/cache
.nx/workspace-data
