[submodule "src-crawler-plugins"]
	path = src-crawler-plugins
	url = https://github.com/kabegame/crawler-plugins.git
[submodule "packages/photoswipe-vue"]
	path = packages/photoswipe-vue
	url = git@github.com:cmtheit/PhotoSwipe-vue.git
[submodule "third/FFmpeg"]
	path = third/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "src-plasma-wallpaper-plugin"]
	path = src-plasma-wallpaper-plugin
	url = git@github.com:kabegame/plasma-wallpaper-plugin2.git
[submodule "packages/kabegame-plugin-sdk"]
	path = packages/kabegame-plugin-sdk
	url = https://github.com/kabegame/kabegame-plugin-sdk.git
[submodule "packages/kabegame-types"]
	path = packages/kabegame-types
	url = https://github.com/kabegame/kabegame-types.git
[submodule "third/x264"]
	path = third/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "third/cef-rs"]
	path = third/cef-rs
	url = https://github.com/kabegame/cef-rs.git
	branch = kabegame-149
[submodule "third/cef"]
	path = third/cef
	url = https://github.com/kabegame/cef.git
	branch = kabegame-7827
