[package]
name = "kabegame-core"
version = { workspace = true }
edition = { workspace = true }
description = "Kabegame 共享后端核心（crawler/plugin/storage 等）"
build = "build.rs"

[dependencies]
tauri = { workspace = true }

serde = { workspace = true }
serde_json = { workspace = true }
regex = { workspace = true }
governor = { workspace = true, optional = true }
tokio = { workspace = true }
reqwest = { workspace = true }
futures-util = { workspace = true }
scraper = { workspace = true }
select = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
dirs = { workspace = true }
image = { workspace = true }
zip = { workspace = true }
rhai = { workspace = true }
auto-launch = { workspace = true }
rusqlite = { workspace = true }
sha2 = { workspace = true }
base64 = { workspace = true }
lru = { workspace = true }
sled = { workspace = true }

[target.'cfg(windows)'.dependencies]
winver = { workspace = true, optional = true }
windows-sys = { workspace = true }
windows = { workspace = true, optional = true }
winreg = { workspace = true, optional = true }
dokan = { version = "0.3.1", optional = true }
widestring = { version = "0.4.3", optional = true }
winapi = { version = "0.3.9", features = ["ntstatus", "winnt", "winbase"], optional = true }

[features]
default = ["tray", "wallpaper", "virtual-drive"]
custom-protocol = ["tauri/custom-protocol"]
tray = ["dep:governor"]
wallpaper = ["dep:governor", "dep:winver", "dep:windows", "dep:winreg"]
virtual-drive = ["dep:dokan", "dep:widestring", "dep:winapi", "dep:winreg"]