[package]
name = "kabegame-core"
version = "1.2.0"
edition = "2021"
description = "Kabegame 共享后端核心（crawler/plugin/storage 等）"
build = "build.rs"

[dependencies]
tauri = { workspace = true }
tauri-plugin-shell = { workspace = true }

serde = { workspace = true }
serde_json = { workspace = true }
regex = { workspace = true }
governor = { workspace = true, optional = true }
tokio = { workspace = true }
reqwest = { workspace = true }
futures-util = { workspace = true }
scraper = { workspace = true }
select = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
dirs = { workspace = true }
image = { workspace = true }
zip = { workspace = true }
rhai = { workspace = true }
auto-launch = { workspace = true }
rusqlite = { workspace = true }
sha2 = { workspace = true }
base64 = { workspace = true }

[target.'cfg(windows)'.dependencies]
winver = { workspace = true, optional = true }
windows-sys = { workspace = true }
windows = { workspace = true, optional = true }
winreg = { workspace = true, optional = true }

[features]
default = ["wallpaper"]
custom-protocol = ["tauri/custom-protocol"]
wallpaper = ["dep:governor", "dep:winver", "dep:windows", "dep:winreg"]



